langchain==0.2.16
langchain-core==0.2.39
langchain-google-genai==1.0.10
langchain-text-splitters==0.2.4
google-ai-generativelanguage==0.6.6
google-api-core==2.19.2
google-api-python-client==2.145.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-generativeai==0.7.2
